{% extends "squelette.twig" %}

{% block content %}
    <div id="container" class="center">
        <div class="flex-row">
            <button id="return">
                <a href="{{ url_for('prestations', {}, { 'ordre': 'asc'}) }}">
                    <img src="{{ resources['img'] }}/arrow-up.svg" alt="arrow-up" id="return-icon"/>
                    <h3 id="return-text">Tri croissant</h3>
                </a>
            </button>
            <button id="return">
                <a href="{{ url_for('prestations', {}, { 'ordre': 'desc'}) }}">
                    <img src="{{ resources['img'] }}/arrow-down.svg" alt="arrow-down" id="return-icon"/>
                    <h3 id="return-text">Tri décroissant</h3>
                </a>
            </button>
        </div>
        <ul id="prestations_wrapper">
            {% for presta in prestations %}
                <form id="prestation_wrapper" action="{{ url_for('boxAddPrestaPostPost', { 'presta_id': presta['id'] }) }" method="POST">
                    <div id="prestation_wrapper_image">
                        <a href="{{ url_for('prestation', { 'id': presta['id'] }) }}">
                            <img src="{{ resources['shared'] }}/{{ presta['img'] }}" alt="{{ presta['img'] }}"
                                 id="prestation_image">
                        </a>
                    </div>
                    <div id="prestation_wrapper_text">
                        <div id="prestation_infos_wrapper">
                            <h2>{{ presta['libelle'] }}</h2>
                            <h2>Prix : {{ presta['tarif'] }} €</h2>
                        </div>
                        <div id="prestation_infos_description">
                            <p id="prestation-description">{{ presta['description'] }}</p>
                        </div>
                        <p>{{ presta['cat_libelle'] }} ({{ presta['cat_id'] }}) </p>
                        <label>
                            <input type="number" name="quantite" min="0" class="form_number">
                        </label>
                        <button id="prestation_button" type="submit">
                            <span class="prestation_button-text">Ajouter au coffret</span>
                            <img src="{{ resources['img'] }}/box-open.svg" alt="panier"
                                 class="prestation_button-icon">
                        </button>
                    </div>
                </form>
            {% endfor %}
        </ul>
    </div>
{% endblock %}