{% extends "squelette.twig" %}
{%  block body %}
<html>
<head>
    <title>Prestation {{ presta['id'] }}</title>

</head>
<body>
<h1>Prestation {{ presta['id'] }}</h1>
<h2>libelle : {{ presta['libelle']}}</h2>
<img src="../../../../shared/img/{{ presta['img'] }}" alt="image de la prestation" width="350" height="350"  />
<h2>description : {{ presta['description']}}</h2>


</body>
</html>

{% endblock %}